body {
    width: 1000px;
    margin: 0 auto;
}

#main {
    background-color: #ccc;
    margin: 0 12px;
    padding:  32px;
}

.infor img {
    width:50%;
    margin: 16px;
}

.infor__addi .attri {
    width: 100px;
}

.infor__addi .value {
    width: 100%-100px;
}
